<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="header.component.css">
        <title>Accueil</title>
    </head>
    <body>
        <nav>
            <div class="onglets">
                <a href="Accueil.html"> Nouveautés</a>
                <a href="Materiel.html"> Matériel</a>
                <a href="Accueil.html"><img src="logo.png"> </a>
                <a href="Reservation.html"> Réservation</a>
                <a href="Contact.html"> Connexion</a>
            </div>
        </nav>